@import '../../core/styles/variables.scss';

.playlist-container {
  border-left: 1px solid $white-color;
  height: 100%;
  position: absolute;
  right: -100%;
  height: 100%;
  right: 0;
  max-width: 30%;
  background: $black-color;
  transition: all 0.1s linear;
  overflow-y: scroll;
}

.playlist-container--open {
  transform: translateX(0);
}
.playing__actions {
  flex-direction: row;
  justify-content: space-around;
  align-content: space-between;
  button {
    margin: 1rem;
    font-size: 0.6rem;
    line-height: 0.8rem;
    padding: 0.3rem 0.5rem;
  }

  .playlist--space {
    padding: 20px;
  }
}
