@import '../../core/styles/variables.scss';

.dashboard__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  .dashboard__now-playing {
    width: 100%;
  }
  .dashboard__title {
    width: 100%;
    align-self: flex-start;
    h1 {
      color: $white-color;
      font-size: 2.5rem;
    }
  }
  .dashboard__logo {
    max-width: 250px;
    width: 100%;
  }

  .dashboard--space {
    padding: 20px;
  }
}
